.aksel-tabs__tab:hover {
    box-shadow: inset 0 -5px 0 0 rgba(5, 23, 51, 0.34) !important;
}

.aksel-tabs__tab[aria-selected="true"] {
    box-shadow: inset 0 -5px 0 0 #ec38a7 !important;
}

.fagfest-intro-accordion.aksel-accordion--indent > :where(.aksel-accordion__item) > :where(.aksel-accordion__content) > .aksel-accordion__content-inner {
    padding: var(--ax-space-6) var(--ax-space-6);
}

.fagfest-intro-accordion > :where(.aksel-accordion__item) > :where(.aksel-accordion__header) {
    padding-block: var(--ax-space-8);
}

.fagfest-intro-accordion > :where(.aksel-accordion__item)[data-expanded="true"] > :where(.aksel-accordion__content) {
    margin-block: var(--ax-space-4);
    margin-block-end: var(--ax-space-4);
}
